.App {
    min-height: 100vh;
}

/* Tile flip animation styles */
.tile-container {
    cursor: pointer;
    perspective: 1000px;
}

.tile-container:hover {
    filter: brightness(1.1);
}

.tile-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.tile-inner.flipped {
    transform: rotateY(180deg);
}

.tile-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    border-radius: 0.125rem;
}

.tile-front {
    z-index: 2;
    transform: rotateY(0deg);
}

.tile-back {
    z-index: 1;
    transform: rotateY(180deg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
